*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: white;
}

/* PALETTE COLORI */

.text_color{
  color: rgba(3, 27, 78, 0.7);
}

.color_white{
   color: white;
}

.bg_white{
   background: white;
}

.color_blue{
   color: #0069ff;
}

.bg_blue{
   background: #0069ff;
}

.color_darkblue{
  color: #020d28;
}

.bg_darkblue{
  background: #020d28;
}

.bg_lightgrey{
  background:#f3f5f9;
}

.color_grey{
  color:#828ca7;
}

.color_darkgrey{
  color: #757575;;
}

.color_bluegrey{
  color:#4f5f83;
}

.color_acqua{
color: #00d7d2;
}

/* MARGIN_TOP */

.margin_top_0{
  margin-top: 0px;
}

.margin_top_10{
  margin-top: 10px;
}

.margin_top_20{
  margin-top: 20px;
}

.margin_top_30{
  margin-top: 30px;
}

.margin_top_40{
  margin-top: 40px;
}

.margin_top_60{
  margin-top: 60px;
}

.margin_top_80{
  margin-top: 80px;
}

.margin_top_100{
  margin-top: 100px;
}

/* MARGIN_BOTTOM */

.margin_bottom_20{
  margin-bottom: 20px;
}

.margin_bottom_40{
  margin-bottom: 40px;
}

.margin_bottom_60{
  margin-bottom: 60px;
}

.margin_bottom_80{
  margin-bottom: 80px;
}

.margin_bottom_100{
  margin-bottom: 100px;
}


/* PADDING_TOP */

.padding_top_20{
  padding-top: 20px;
}

.padding_top_40{
  padding-top: 40px;
}

.padding_top_60{
  padding-top: 60px;
}

.padding_top_80{
  padding-top: 80px;
}

.padding_top_100{
  padding-top: 100px;
}



/* PADDING_BOTTOM */

.padding_bottom_20{
  padding-bottom: 20px;
}

.padding_bottom_40{
  padding-bottom: 40px;
}

.padding_bottom_60{
  padding-bottom: 60px;
}

.padding_bottom_80{
  padding-bottom: 80px;
}

.padding_bottom_100{
  padding-bottom: 100px;
}

/* TOPBAR */

.top_bar{
  height: 65px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(3,27,78,.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.hamburger_menu{
  display: none;
}

.top_bar li a{
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

.top_bar li a:hover{
  text-decoration: none;
  color: rgba(3, 27, 78, 0.7);
}



.left_bar a{
  position: relative;
  line-height: 65px;
}

.left_bar a img{
  width: 130px;
}

.center_bar ul li{
  margin-right: 10px;
}

.top_bar_lineheight{
  line-height: 65px;
}

.right_bar ul li{
  margin-left: 10px;
}

@media screen and (max-width: 991px) {
    .center_bar ul{
      display: none;
    }
    .right_bar ul{
      display: none;
    }
    .hamburger_menu{
      display: block;
      text-align: right;
      line-height: 65px;
      font-size: 25px;
    }
}


/* BOTTONI */

.btn_topbar{
  border: 1px solid #0069ff;
  transition: 0.5s;
}


.right_bar .btn_topbar:hover{
  color: white;
  background-color: #0069ff;
  border: 1px solid #0069ff;
}

.right_bar_button{
  padding: 10px;
  background-color: red;
}


/* JUMBOTRON */

.jumbotron{
  margin-bottom: 0px;
}

.jumbo_inside{
  height: auto;
  background-image: url(https://www.digitalocean.com/assets/media/homepage/hero-background-c9490927.svg),linear-gradient(180deg,#303fd9 0,#031b4e);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: 65px;
  background-position: bottom;
}

.box_account{
  background-color: white;
  width: 100%;
  height: auto;
}

.jumbo_left h1{
  font-size: 62px;
  font-weight: 700;
  margin-top: 0
}

.jumbo_left p{
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  opacity: 0.8;
}

.jumbo_right{
  padding-left: 100px;
}

.box_account{
  padding: 20px;
}

.box_account h2{
  font-weight: 700;
  margin-top: 0;
}

.jumbotron_right_button ul li a{
  text-decoration: none;
  display:block;
  padding: 15px 0;
}

.form_jumbo{
  display: block;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  color: rgba(3,27,78,.7);
  border: 1px solid #f1f1f1;
  font-size: 16px;
}

.jumbotron_right_button ul li:first-child a:hover{
  background-color:#001dff;
  color: white;;
}

.jumbotron_right_button ul li:last-child a{
  box-shadow: 0 0 1px rgba(0,0,0,.12), 0 1px 1px rgba(0,0,0,.24);
  position: relative;
}


.jumbotron_right_button ul li:last-child a:hover{
  background-color:lightgrey;
  color: #757575;
}

.terms_service{
  font-size: 12px;
  color: rgba(3,27,78,.7)
}

.icon_size_google{
  width: 20px;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translatey(-50%);
}

@media screen and (max-width: 991px) {
  .jumbo_right{
    margin-top: 40px;
    padding-left: 0px;
  }

  .jumbo_left p{
    font-size: 16px
  }

  .jumbo_left h1{
    font-size: 48px
  }
}
/* SECTION */

.section h2 {
  font-size: 14px;
  font-weight: 700;
}
.loghi_section img{
  width: 140px;
}

/* SECTION_2 */

.titolo_h2{
  font-weight: 700;
  font-size: 32px;
}

.text_sottotitolo{
  font-size: 20px;
}

.inside_section2 h3{
  font-size: 18px;
  font-weight: 700;
}

.inside_section2 p{
  font-size: 16px;
}

.navigatore_section_2 ul li a{
  line-height: 60px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 3px solid lightgrey;
  text-decoration: none;
  color: rgba(3, 27, 78, 0.7);
  font-size: 20px;
}

.navigatore_section_2 ul li:first-child a{
  color: #020d28;
  border-left: 3px solid #0069ff;
}

.container_section_box{
  height: 180px;
}

@media screen and (max-width: 767px) {
  .container_section_box{
  height: 100px;
  }
}

/* SECTION_3 */

.carousel_section_3{
  position: relative;
}

.carousel_section_3 img{
  box-shadow: 0 2px 4px rgba(3,27,78,.06);
}

.text_under_carouler{
  font-size: 18px;
}

.box_chevron_left{

  height: 50px;
  width:50px;
  position: absolute;
  top: 50%;
  left: -50px;
  transform: translateY(-50%);
}

.box_chevron_left a i{
line-height: 50px;
font-size: 20px;
}

.box_chevron_right{

  height: 50px;
  width:50px;
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
}

.box_chevron_right a i{
line-height: 50px;
font-size: 20px;
}

.dot_selected ul li {
border: 2px solid #0069ff;
padding: 4px;
border-radius: 100%;
}

.dot_selected ul li:hover {
background-color: #828ca7;
cursor: pointer;
}

.dot_selected ul li:first-child{
background-color: #0069ff;
}

/* SECTION_4 */


.section_4_column h2{
font-size: 20px;
font-weight: 700;
}

.section_4_column p{
font-size: 16px;
}

@media screen and (max-width: 768px) {
  .section_4{
    text-align: center;
  }
}

/* SECTION_5 */


 .section_5{
height: auto;
max-width: 100%;
background-image: url(https://www.digitalocean.com/assets/media/homepage/data-center-map-8227272d.svg),linear-gradient(180deg,#0047c6 0,#001d99);
background-size: cover;
background-position: 50%;
}

.colum_section_5 ul{
margin-bottom:0px;
width: 100%;
position: relative;
padding-top: 15px;
padding-bottom: 15px;

}

.colum_section_5 ul li{
margin-right: 25px;
font-size: 14px;

}

.colum_section_5 ul li a{
position: absolute;
top: 50%;
right: 0px;
transform: translateY(-50%);
}

.border_top{
border-top: 1px solid white;
}

.border_bottom{
border-top: 1px solid white;
}


@media screen and (max-width: 768px) {
.colum_section_5 ul:first-child{
border-top: 2px solid #00d7d2;
}
}
